@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: hsl(0, 0%, 13%);
}

a,
button {
  font-family: "Noto Sans KR", sans-serif;
  color: #222222;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -9999px;
}

.home-header {
  background-image: url("https://a0.muscache.com/im/pictures/e4a2a61c-589f-4e49-b3b8-968a6bc23389.jpg?im_w=1920");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 0px 73px;
  position: relative;
}

.head,
.online-head-box {
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head h1 {
  background-image: url("../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 107px;
  height: 37px;
  text-indent: -9999px;
  overflow: hidden;
}

.head .nav-page {
  margin-left: 100px;
}

.head .nav-page ul {
  display: flex;
}

.head .nav-page li {
  padding: 10px 16px;
}

.head .nav-page button {
  color: #fff;
  font-size: 16px;
}

.head .nav-page li:nth-child(1) button::after {
  background: #fff;
  width: 14px;
  height: 2px;
  display: block;
  content: "";
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.head .nav-page a {
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 3px;
}

.side-menu a {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.side-menu {
  display: flex;
  align-items: center;
}

.side-menu a {
  margin-right: 25px;
}

.side-menu .global img {
  width: 18px;
  position: relative;
  top: 3px;
}

.side-menu .user-user {
  width: 71px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-left: 16px;
  padding: 0 5px;
}

.side-menu .user-user img:first-child {
  position: relative;
  width: 15px;
  left: 7px;
}

.side-menu .user-user img:last-child {
  width: 30px;
  height: 30px;
  position: relative;
  left: 15px;
}

.home-form {
  width: 855px;
  background: #fff;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  position: relative;
  box-shadow: 0px 16px 32px rgb(0 0 0 / 15%), 0px 3px 8px rgb(0 0 0 / 10%);
}

.home-form button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
}

.home-form strong,
.home-form label {
  font-weight: 500;
  color: #222222;
}
.home-form label {
  margin-bottom: 2px;
}

.home-form span {
  color: #717188;
  font-size: 15px;
  font-weight: 300;
}

.home-form button:not(:first-child):focus {
  background: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px;
  pointer-events: none;
}

.home-form button:not(:first-child) {
  padding: 14px 24px;
}

.home-form button:not(:last-child):hover {
  background: #ebebeb;
}

.home-header .location-btn {
  padding-left: 30px;
  width: 270px;
  height: 65px;
  position: relative;
}

.location-btn input {
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  background: transparent;
}

.location-btn input::placeholder {
  font-weight: 400;
}

.home-header .checkIn-btn,
.home-header .checkOut-btn {
  width: 180px;
  height: 65px;
}

.home-header .guests-btn {
  width: 225px;
  height: 65px;
}

.home-header .search-btn {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  width: 47px;
  height: 47px;
  background: #e51d53;
  background-image: url("../assets/search.png");
  background-position: center;
  background-size: 16px auto;
  background-repeat: no-repeat;
}

.lc-search-link {
  width: 504px;
  height: 163px;
  border-radius: 32px;
  box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  position: absolute;
}

.home-hidden-cont .lc-search-link span {
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  color: #222222;
  text-align: left;
  margin: 22px 0px;
}

.home-hidden-cont .lc-search-link a {
  display: inline-block;
  height: 58px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  padding: 8px 24px;
  border-radius: 32px;
  color: #6f019c;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  position: relative;
}
.home-hidden-cont .lc-search-link a::after {
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url("../assets/chevron_right_pupple.png");
  background-size: contain;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.home-hidden-cont .lc-search-link a:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  padding: 96px 0 112px;
}

.banner span {
  font-size: 49px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
}

.banner button {
  width: 119px;
  height: 36px;
  background: #fff;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
  border-radius: 9px;
  font-size: 15px;
  margin-top: 19px;
}

.home-main {
  padding: 75px 80px 0;
}

.home-main h2 {
  font-size: 32px;
  font-weight: 500;
}

.explore-nearby {
  margin-bottom: 65px;
}

.explore-nearby h2 {
  margin-bottom: 27px;
}

.explore-nearby ul {
  display: grid;
  height: 146px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.explore-nearby li a {
  display: flex;
}

.explore-nearby ul li .nearby-img {
  width: 64px;
  height: 64px;
  display: block;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 7px;
  display: block;
}

.explore-nearby ul li:nth-child(1) .nearby-img {
  background-image: url("https://a0.muscache.com/im/pictures/71e23854-a3c7-491c-b715-6e86233a293f.jpg?im_q=medq&im_w=240");
}
.explore-nearby ul li:nth-child(2) .nearby-img {
  background-image: url("https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240");
}
.explore-nearby ul li:nth-child(3) .nearby-img {
  background-image: url("https://a0.muscache.com/im/pictures/7253e011-7c22-48fd-b75d-d0da35372397.jpg?im_q=medq&im_w=240");
}
.explore-nearby ul li:nth-child(4) .nearby-img {
  background-image: url("https://a0.muscache.com/im/pictures/76e5f1c6-a788-418c-a28b-f0ee29cffd41.jpg?im_q=medq&im_w=240");
}
.explore-nearby ul li:nth-child(5) .nearby-img {
  background-image: url("https://a0.muscache.com/im/pictures/52e8083e-2de2-446d-a860-534eab250541.jpg?im_q=medq&im_w=240");
}
.explore-nearby ul li:nth-child(6) .nearby-img {
  background-image: url("https://a0.muscache.com/im/pictures/20e74de0-0eb8-4fca-afb8-b111875acdf5.jpg?im_q=medq&im_w=240");
}
.explore-nearby ul li:nth-child(7) .nearby-img {
  background-image: url("https://a0.muscache.com/im/pictures/31e445ed-8b69-477b-aefd-d04dae6d0bb1.jpg?im_q=medq&im_w=240");
}
.explore-nearby ul li:nth-child(8) .nearby-img {
  background-image: url("https://a0.muscache.com/im/pictures/e639b7ab-aee3-48ee-9743-216684a51319.jpg?im_q=medq&im_w=240");
}

.nearby-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 18px;
}

.nearby-content strong {
  font-weight: 500;
  margin-bottom: 9px;
}

.flexible-search {
  height: 402px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://a0.muscache.com/im/pictures/a915ff27-6062-436d-a7a9-007685423f7b.jpg?im_w=720");
  border-radius: 17px;
  margin-bottom: 67px;
}

.flexible-search a {
  padding: 0 83px;
  height: 100%;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexible-search a span {
  font-size: 49px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 1px;
}

.flexible-search button {
  height: 47px;
  width: 131px;
  color: #fff;
  background: #222222;
  text-align: center;
  line-height: 49px;
  font-weight: 500;
  border-radius: 9px;
  font-size: 15px;
  margin-top: 45px;
}

.live-theme {
  margin-bottom: 74px;
}

.live-theme h2 {
  margin-bottom: 32px;
}

.live-theme ul {
  display: flex;
  justify-content: space-between;
}

.live-theme img {
  width: 255px;
  height: 255px;
  display: block;
  border-radius: 7px;
  margin-bottom: 8px;
}

.live-theme span {
  font-size: 19px;
  font-weight: 500;
}

.discover-experience {
  margin-bottom: 74px;
}

.discover-experience h2 {
  margin-bottom: 10px;
}

.discover-experience p {
  font-size: 27px;
  margin-bottom: 26px;
}

.discover-experience ul {
  display: flex;
  justify-content: space-between;
}

.discover-experience img {
  border-radius: 7px;
  display: block;
  width: 356px;
  height: 343px;
  margin-bottom: 9px;
}

.discover-experience li a {
  display: flex;
  flex-direction: column;
}

.discover-experience strong {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.discover-experience span {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.hosting {
  height: 398px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("https://a0.muscache.com/im/pictures/5b4dc94a-0b4c-4c27-b50f-9c5a5b93c775.jpg?im_w=720");
  border-radius: 17px;
  margin-bottom: 66px;
}

.hosting a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 76px;
}

.hosting h3 {
  color: #fff;
  font-size: 49px;
  font-weight: 700;
  margin-bottom: 17px;
}
.hosting span {
  color: #fff;
  font-size: 18px;
  margin-bottom: 37px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.3;
}

.hosting button {
  width: 166px;
  height: 50px;
  background: #fff;
  color: #222222;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  border-radius: 9px;
  font-size: 15px;
}

footer {
  padding: 0 78px;
  background: #f7f7f7;
  border-top: 1px solid #dddddd;
}

.footer-link-list {
  display: flex;
  padding: 50px 0;
}

.footer-link-list div:first-child {
  margin-right: 100px;
}
.footer-link-list div:nth-child(2) {
  margin-right: 133px;
}
.footer-link-list div:nth-child(3) {
  margin-right: 133px;
}

.footer-link-list h2 {
  font-size: 13px;
  margin-bottom: 22px;
  font-weight: 500;
}

.footer-link-list li {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 24px;
}

.footer-link-list li:hover {
  text-decoration: underline;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  border-top: 1px solid #dddddd;
  height: 52px;
}

.footer-info .info-link span:not(:first-child) a:hover {
  text-decoration: underline;
}

.footer-info .info-link span {
  font-weight: 300;
  font-size: 15px;
}

.footer-info .info-link span:not(:last-child)::after {
  content: "·";
  margin: 0 2px;
}

.footer-info .change-etc {
  display: flex;
  margin-right: 11px;
}

.footer-info .change-etc button {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  position: relative;
  top: -4px;
}

.footer-info .change-etc button:first-child {
  margin-right: 23px;
}

.footer-info .change-etc button:first-child::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-image: url("../assets/localizer_black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 9px;
  position: relative;
  top: 4px;
}

.footer-info .change-etc button:last-child::before {
  content: "₩";
  margin-right: 9px;
}

.community-list {
  display: flex;
}

.community-list span {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 28px;
}

.community-list .facebook {
  background-image: url("../assets/socialFacebook.png");
}
.community-list .twitter {
  background-image: url("../assets/socialTwitter.png");
}

.community-list .instagram {
  background-image: url("../assets/socialInstagram.png");
}

.online-head::after {
  background: #ffffff;
  content: "";
  height: 82px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  opacity: 1;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 12px;
  display: block;
}

.online-head-box {
  z-index: 1;
  padding: 0px 73px;
  position: relative;
}

.online-head-box h2 {
  background: url("../assets/logo_pink.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 106px;
  height: 38px;
  text-indent: -9999px;
  overflow: hidden;
}

.online-banner {
  height: 370px;
  background: url("https://a0.muscache.com/im/pictures/f13f758e-0629-4cb2-b728-3e2f0dc3772b.jpg?im_w=720");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 145px 73px 0;
}

.banner-info h2 {
  font-size: 52px;
  color: #222222;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 3px;
  margin-bottom: 43px;
}

.banner-info p {
  font-size: 19px;
  line-height: 26px;
  color: #222222;
  font-weight: 300;
  width: 343px;
}

.online-search {
  padding: 0 80px;
  display: flex;
  position: relative;
  padding-bottom: 22px;
  border-bottom: 1px solid #dddddd;
}

.online-search button {
  padding: 0px 16px;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  color: #222222;
  border-radius: 36px;
  text-align: center;
  border: 1px solid #b0b0b0;
  margin-right: 8px;
  height: 40px;
}

.online-search-basic {
  display: flex;
}

.online-search-basic button:first-child::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../assets/slider.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  /* top: 50%;
  transform: translateY(-50%); */
  margin-right: 10px;
  vertical-align: middle;
}

.online-search-basic::after {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #b0b0b0;
  content: "";
  position: relative;
  margin-right: 8px;
}

.online-search-theme {
  overflow: hidden;
  min-width: 450px;
}

.online-search-theme button {
  background: #f2f2f2;
  border: none;
}

.online-cont {
  padding: 33px 73px 0;
}

.online-cont > article {
  margin-bottom: 54px;
}

div[class^="tit"] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

div[class^="tit"] h4 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
}

.list-olympic,
.list-sixHours {
  display: flex;
}

.list-olympic li,
.list-sixHours li {
  margin-right: 14px;
}

.list-olympic li:nth-child(1) .item-olympic span {
  background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2727825-media_library/original/ddd310c9-46bc-4cd1-b236-1c4c2bb47e82.jpeg?aki_policy=poster");
}

.list-olympic li:nth-child(2) .item-olympic span {
  background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2623715-media_library/original/6f4922b3-3612-4442-bbcf-8f1fade83bbc.jpeg?aki_policy=poster");
}

.list-olympic li:nth-child(3) .item-olympic span {
  background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2749053-poster/original/4e810cf8-955b-47a1-9fcf-96ed98ac556e.jpeg?aki_policy=poster");
}

.list-olympic li:nth-child(4) .item-olympic span {
  background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2755890-media_library/original/0dbab9d2-158a-43f2-bdf1-cbf783e8e453.jpeg?aki_policy=poster");
}

.list-olympic li:nth-child(5) .item-olympic span {
  background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2660773-active_media/original/cbae3923-5351-471d-a44f-999379925a96.jpg?aki_policy=poster");
}

.list-olympic li:nth-child(6) .item-olympic span {
  background-image: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2792070-media_library/original/dd5b7b1d-65eb-4962-b8e0-0a96b3f0d39b.jpeg?aki_policy=poster");
}

.item-image {
  display: inline-block;
  width: 183px;
  height: 243px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 17px;
  margin-bottom: 12px;
  position: relative;
}

.item-image::after {
  content: "";
  background: url("../assets/heart_line.png");
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 8px;
}

.item-frame {
  font-weight: 300;
  width: 183px;
}

.item-frame dl div {
  margin-bottom: 12px;
}

.row-1 dd {
  font-size: 14px;
  line-height: 18px;
}

.row-2 dd {
  font-size: 16px;
  line-height: 20px;
}

.row-3 strong {
  font-weight: 800;
}

.row-3 strong::before {
  content: "₩";
}

.item-frame-big {
  width: 380px;
  height: 194px;
  border-radius: 17px;
  border: 1px solid #dddddd;
}

.item-image-sm {
  width: 125px;
  height: 164px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.list-sixHours li:nth-child(1) .item-image-sm {
  background: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-1725164-media_library/original/0378d5eb-f498-4947-b9a6-e1ee79fc2e16.jpeg?aki_policy=poster");
}

.list-sixHours li:nth-child(2) .item-image-sm {
  background: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2630340-media_library/original/183ec15b-53f3-4f1d-a983-2cae6264e9e7.jpeg?aki_policy=poster");
}

.list-sixHours li:nth-child(3) .item-image-sm {
  background: url("https://a0.muscache.com/im/pictures/lombard/MtTemplate-2148958-media_library/original/393206d0-97e2-4ef7-999b-5f9c783366c4.jpeg?aki_policy=poster");
}

.hiding {
  display: none;
}
